.color-card {
  display: fixed;
  margin: 0px 10px;
  padding: 5px;
  gap: 5px;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}
.color__role {
  padding: 2px 6px;
  width: max-content;
}
.color__contrast {
  padding: 2px 6px;
  width: max-content;
}
.color-card__confirm {
  display: flex;
  padding: 5px;
  gap: 5px;
  border: 2px solid black;
  border-radius: 8px;
  width: fit-content;
}
.color-card__edit {
  background-color: yellow;
}
.color-card__delete {
  background-color: red;
}
.colorForm__fields {
  background-color: aqua;
  width: fit-content;
  border: 2px solid black;
  gap: 2px;
  padding: 3px;
}
